body{
  margin: 0px;
  padding: 0px;
  background-color: #0d1418;
  color: white;
}
img{
width: 500px;

  
}
.hi{
  display: flex;
  flex-direction: column;
}
.post{
  border: 1px grey solid;
  max-width: 500px;
  margin-top:20px ;
  margin-bottom: 10px;
}

